<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <p>You have a new order from <%= @order.billing_customer.name%>!</p>
    <p>
      Order details<br>
      -------------------------------
      <p>Unit price: $<%= @order.price_in_dollars %>.00 </p>
      <p>Items:</p>
      <% @order.order_items.each |item| do %>
        <p><%= item.product.name %></p>
        <p>Style number: <%= item.product.style_number %></p>
        <p>Quantity: <%= item.quantity %></p>
      <% end %>
      

      Shipping information:<br>
      <p>Company name: <%= @order.shipping_customer.company_name %> </p>
      <p>Address: <%= @order.shipping_customer.address %> </p>
      <p>City: <%= @order.shipping_customer.city %> </p>
      <p>State: <%= @order.shipping_customer.state %> </p>
      <p>Zip code: <%= @order.shipping_customer.zip_code %> </p>
      <% if @order.shipping_customer.phone_number %>
        <p>Phone number: <%= @order.shipping_customer.phone_number %> </p>
      <% end %>
      <% if @order.shipping_customer.attn %>
        <p>Phone number: <%= @order.shipping_customer.attn %> </p>
      <% end %>

      Billing information:<br>
      <p>Name: <%= @order.billing_customer.name %> </p>
      <p>Address: <%= @order.billing_customer.address %> </p>
      <p>City: <%= @order.billing_customer.city %> </p>
      <p>State: <%= @order.billing_customer.state %> </p>
      <p>Zip code: <%= @order.billing_customer.zip_code %> </p>
      <% if @order.billing_customer.phone_number %>
        <p>Phone number: <%= @order.billing_customer.phone_number %> </p>
      <% end %>
      <p>Tax exempt? <%= @order.billing_customer.tax_exempt %> </p>
    </p>
  </body>
</html>
